<h1>О фестивале</h1>
<p>
С 18 по 23 октября 2011 года в Москве при поддержке Фонда кино РФ в кинотеатрах «Ролан» и «Пионер» пройдет 5-й Московский международный Фестиваль независимого кино «2morrow/Завтра».
</p> 
<p>
В этом году Фестиваль в большей степени ориентируется на неизвестные имена, низкобюджетное или безбюджетное кино. Этот формат выбран не случайно. Фестиваль этого года - площадка для просмотра актуального, но неизведанного, неосвоенного, своеобразная terra incognito даже для киноманов - 90% фильмов программы никогда не выйдут в российский прокат. 
</p>
<p>
«Конкурс в этом году посвящен исповедям, свидетельствам, дневникам. Здесь не может быть жанра, ведь многие исповеди экспериментальны, находятся на грани, формируют новый жанр. Точно так же нет разделения на игровое, неигровое, анимационное кино», - комментирует программный директор Фестиваля Антон Мазуров.
</p>
<p>
Вторая основная программа 5 Фестиваля «Праздник непослушания» тоже поддерживает тему исповеди. Здесь мы собрали «безбашенные» картины. Некоторые их них посвящены юношеской поре, когда  мировосприятие определяют витальность,  раскованность и желание сокрушить внутренние барьеры.
</p>
<p>
Среди параллельных секций Фестиваля будет показана Ф.Ж. Оссана – французского панка-визионера и аллюзиониста. Сам Оссан проведет «открытый урок». Среди 7 фильмов Ф.Ж. Оссана «Затмение», фильм-участник  «Двухнедельник режиссёров» Каннского фестиваля 2008 года. 
</p>
<p>
Вторая ретроспектива Фестиваля посвящена российскому классику Андрею Смирнову. Среди 5 картин режиссера будет показан последний его проект «Жила-была одна баба». 
</p>
<p>
Для киногурманов, любителей архивного кино, в рамках специальной программы «Фасцинация: звук», изучающей звукозапись как политический феномен, будут показаны три фильма Жан-Мари Строба и Даниэль Уйе (также известных в России как Штраубы): «Хроника Анны Магдалены Бах», «Введение в «Музыкальное сопровождение одной киносцены» Арнольда Шёнберга» и «Моисей и Аарон». Составитель программы – Кирилл Адибеков.
</p>
<p>
Программа Music_doc прошлого года трансформировалась в авторскую программу от создателей музыкального Beat Film Festival Кирилла Сорокина и Алены Бочаровой. 
</p>
<p>
Программа-омаж Доминику Пинону назвается “Три французских фарса-гиньоля” состоит из фильмов, в которых снимался актер. Сам Пинон даст открытый урок. Так же открытый урок даст режиссер фильма “Убей меня, пожалуйста” Олиас Барко.
</p>
<p>
В программе “Голоса улицы” можно будет увидеть фильм “Тахрир” о египетской революции, и еще два фильма российских режиссеров о том, что происходит у нас. 
</p>
<p>
Фильм филиппинского режиссера Райи Мартина “Buenas noches Espana” будет показан в программе Avant- guarde
</p>
<p>
Специальными показами фестиваля станут фильмы о Роджере Кормане («Мир Кормана. Эксплуатируя голливудского бунтаря»), битниках и Кене Кизи (“Волшебный трип”). Так же несколько раз мы покажем новый мультфильм Спайка Джонзе “Умереть рядом с тобой”. 
</p>
<p>
В третий раз в рамках фестиваля «2morrow/Завтра» пройдет  форум «Проект на Завтра»:  презентация фильмов из Восточной Европы для профессионалов киноиндустрии – дистрибьюторов, фестивальных отборщиков, представителей телеканалов, продюсеров.
</p>
